### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.log
node_modules
dist
storybook-static

# typescript
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# cloudflare
.wrangler
.dev.vars
